<div data-hook="admin_image_form_fields" class="row">
  <div data-hook="alt_text" class="col-md-6">
    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
</div>
