development:
  adapter: mysql2
  encoding: utf8
  database: mystore-development
  pool: 5
  host: localhost
  username:
  password:

test:
  adapter: mysql2
  encoding: utf8
  database: mystore-test
  pool: 5
  username:
  password:

staging:
  adapter: mysql2
  encoding: utf8
  database: mystore-staging
  pool: 5
  username:
  password:

production:
  adapter: mysql2
  encoding: utf8
  database: mystore-staging
  pool: 5
  username:
  password:
